a{
  color: #11999E;
  font-family: 'merriweather',serif;
  margin: 10px 20px;
  text-decoration: none;

}
a:hover{
  color: #EAF6F6;
}
body{
  margin: 0;
  text-align: center;
  font-family: 'Montserrat',serif;
  color: #2C3639;
}
h1{
  color:#66bfbf;
  margin: 50px auto 0 auto;
font-family: 'Sacramento',cursive;
 font-size: 5.625rem;

}
h2{
  font-size: 2.5rem;
  color:#66bfbf;
  font-family: 'Montserrat',sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}
hr{
  border: dotted #A2B5BB 6px;
  border-bottom: none;
  width: 2%;
  margin: 100px auto;
}
h3{
  color: #11999e;
    font-family: 'Montserrat',sans-serif;
}
p{
    font-family: 'Montserrat',sans-serif;
    line-height: 2;
}
.top-container{
  background-color: #E4F9F5;
  position:relative;
  padding-top: 150px;
}

.middle-container{
  margin: 100px 0;

}
.bottom-container{
  background-color: #66bfbf;
  padding: 50px 0 20px;

}
.bottom-cloud{
  position: absolute;
  left: 500px;
  bottom: 310px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999a);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999a);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999a);
  background-image: -o-linear-gradient(top, #11cdd4, #11999a);
  background-image: linear-gradient(to bottom, #11cdd4, #11999a);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat',sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.coding{
  float: left;
  margin-right: 30px;
  width: 20%;
}
.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}
.Human{
  float: right;
  margin-left: 30px;
  width:15%;
}
.top-cloud{
  position: absolute;
  right: 540px;
  top: 70px;
}
.intro{
  width: 25%;
  margin: auto;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.note{
  margin: 10px 0;
  padding-bottom: 20px;
}
